<footer class="mt-auto">
  <div class="footer-container">
    <div class="link-logos" >
     <a target="_blank"  href="https://www.worldbank.org/en/research/dime"><img width="30px" src="{{ site.baseurl }}/img/website-outline-color-40.png"/></a> 
     <a href="mailto:dime_courses@worldbank.org"><img width="30px" src="{{ site.baseurl }}/img/email-outline-color-40.png"/></a>
     <a target="_blank"  href="https://twitter.com/WB_Research"><img width="30px" src="{{ site.baseurl }}/img/twitter-outline-color-40.png"/></a>
     <a target="_blank"  href ="https://www.linkedin.com/company/world-bank-development-economics"><img width="30px" src="{{ site.baseurl }}/img/linkedin-outline-color-40.png"/></a>
    </div>
    <a  target="_blank"  href="https://mailchi.mp/worldbank/dime"><button> Subscribe to the DIME Mailing List</button></a>
  </div>
</footer>

