<h4>Optional Activity</h4>
<b> *THIS IS AN OPTIONAL ACTIVITY AND NOT REQUIRED FOR COMPLETION OF THE COURSE. </b>
<div class="activity-description">
    You can apply the concepts learnt in this module on real world datasets <br>
    You can choose between 2 software - Stata or R, and apply the concepts on either primary or secondary data
    Links to optional activities:
    <ul class="square"></ul>
    <li> <a href="{{site.data.course.OptionalsActivities[module].StataPrimary}}">Using R with Primary Data </a> </li>
    <li><a href="{{site.data.course.OptionalsActivities[module].RPrimary}}">sing Stata with Primary Data</a></li>
    <li><a href="{{site.data.course.OptionalsActivities[module].StataSecondary}}">Using R with Secondary Data</a></li>
    <li><a href="{{site.data.course.OptionalsActivities[module].RSecondary}}">Using Stata with Secondary Data</a></li>
        
</div>
