<h4>Hands on application using R or Stata</h4>
<div class="activity-description">
    <!-- You can apply the concepts learnt in this module on real world datasets <br>
    You can choose between 2 software - Stata or R, and apply the concepts on either primary or secondary data
    Links to optional activities:
    <ul class="square"></ul>
    <li> <a target="_blank" href="{{site.data.course.OptionalsActivities.PrimaryData}}">Primary Data (using R or Stata) </a> </li>
    <li><a target="_blank" href="{{site.data.course.OptionalsActivities.SecondaryData}}">Secondary Data (using R or Stata)</a></li>
         -->
You can apply the concepts of learnt in the previous modules on real world primary or secondary datasets. You can choose between 2 software - Stata* or R.

Once you choose your type of data (primary or secondary) and your software of choice (Stata or R), you can find the exercises and further instructions for each topic within the ’1- Exercises’  sub-folder.
<br />
*Note: We are unable to provide access to Stata software
<ul class="square">
    <li> <a target="_blank" href="{{site.data.course.OptionalsActivities.PrimaryData}}">Primary Data (using R or Stata) </a> <br/>
        You will be working with primary data from a DIME impact evaluation Land Husbandry, Water Harvesting,
        and Hillside Irrigation (LWH) in Rwanda - Learn more with <a href="https://osf.io/hm5e7" target="_blank">project brief</a>.
      </li>
      <li><a target="_blank" href="{{site.data.course.OptionalsActivities.SecondaryData}}">Secondary Data (using R or Stata)</a> <br/>
        You will be working with secondary data on connectivity and infrastructure in Columbia sourced from Ookla, Open Street Maps, and Humanitarian Data Exchange.
      </li>
</ul>

</div>