---
layout: base
---
<!-- Banner -->
<div class="Title">
	<!-- <div class="logos">
		<div class="logo"><img src="../img/DIME.png"></div>
		<div class="logo"><img src="../img/WBG.png"></div>
	</div> -->
	<div class="text">
		<div class="SubTitle">
			<p>DIME COURSE</p>
			<p>REPRODUCIBLE RESEARCH</p>
			<p>FUNDAMENTALS</p>
			<p>(VIRTUAL)</p>
		</div>
		<div class="date">
			<p>29 NONEMBER - 13 DECEMBER </p>
			<p>SELF-PACED</p>
		</div>
	</div>

</div>
<div class="home-content">
	{% include announcement.html %}
	{% include collapsible.html %}
	<!-- <div class="row">
		<div class="col-lg-8 offset-lg-2">
			<section>
				{{ content }}
			</section>
		</div>
	</div> -->
</div>

